@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  width: 100vw;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#header img {
  height: 70px;
  margin: 10px;
}
.fa-bars {
  color: #c00002;
}
header a.icon {
  display: block;
  position: absolute;
  right: 30px;
  top: 10px;
}
#nav-bar {
  display: none;
}
#nav-bar a {
  color: rgb(13, 0, 0);
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  text-align: center;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 5px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #cb7a44;
  cursor: pointer;
  padding: 0 5px;
  border-radius: 4px;
}
.fa-angle-up {
  font-size: 55px;
  color: white;
  font-weight: bold;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  width: 100%;
  padding: 5px 0 0 0;
}
.fade img {
  width: 100vw;
  height: 50vh;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

.welcome-header {
  text-align: center;
  letter-spacing: 4px;
  font-size: 1.5rem;
  color: #c00002;
  font-family: "Leckerli One", "Berkshire Swash", cursive;
  padding: 10px 0 20px 0;
}
.intro {
  display: flex;
  justify-content: space-around;
}
.intro-text1 {
  padding-bottom: 15px;
  text-align: justify;
  font-size: 20px;
  letter-spacing: 1px;
}

.sub-intro {
  margin: 0 10px;
  font-size: 16px;
}
.sub-intro h3 {
  padding-bottom: 10px;
  font-size: 1.5rem;

  font-family: "Leckerli One", "Berkshire Swash", cursive;
}
.sub-intro h3 span {
  color: #c00002;
}
.CEO {
  width: 50vw;
  height: 30vh;
  border-radius: 15px;
}

.parallax1 {
  background-image: url("https://res.cloudinary.com/dulxyugan/image/upload/v1590763372/Nitaz%20Couture/81346780_2589975011092558_5964795481247604848_n_jamell.jpg");
  height: 50vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.parallax2 {
  background-image: url("https://res.cloudinary.com/dulxyugan/image/upload/v1590763368/Nitaz%20Couture/61735059_390849901533906_7738719069111285223_n_ja9wqj.jpg");
  height: 50vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.form-container {
  padding-top: 25px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-image: url("https://res.cloudinary.com/dulxyugan/image/upload/v1590761511/Nitaz%20Couture/IMG-20200320-WA0002_nufjvh.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.form {
  font-size: 1.2rem;
  margin: 0;
  background-color: #fff;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
}

.form h3 {
  margin-top: -25px;
  padding: 35px 0 10px 15px;
  font-weight: bolder;
  font-size: 2.5rem;
  color: #0e0d13;
}
iframe {
  display: flex;
}
fieldset {
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  margin: 5px 0 10px 15px;

  color: #0e0d13;
}

legend {
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem 0 10px 0;
  display: block;
}

label {
  display: block;
  margin-left: 10px;
  padding-bottom: 5px;
  font-size: 1rem;
}
input {
  margin-left: 1rem;
  width: 18rem;
}

#firstname,
#lastname {
  margin-left: 82px;
}

#date {
  margin-left: 72px;
}
#state {
  margin-left: 23px;
}

#country {
  margin-left: 102px;
  position: relative;
  display: inline-block;
}
#address {
  margin-left: 98px;
  width: 20rem;
}

#phone {
  margin-left: 52px;
}
.container-course,
.schedule {
  display: flex;
  margin-bottom: 10px;
}
#checkbox {
  margin-left: 87px;
}
#checkbox label {
  display: inline;
}
/* input:invalid:active {
    box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
    box-shadow: none;
} */
#checkbox input {
  width: 13px;
}
#radio {
  margin-left: 35px;
}
#radio label {
  display: inline;
}
#radio input {
  width: 13px;
}

button {
  padding: 10px;
  font-weight: 900;
  margin-left: 2rem;
  border-radius: 25px;
}
button:hover {
  background-color: #f2ce71;
}
legend {
  margin-left: 10px;
}
#duration {
  margin-left: 98px;
}
#email {
  margin-left: 112px;
}

.sect {
  margin: 10px 10px;
}

.sep {
  margin: 25px 0 25px 15px;
}
.sep h2 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 25px;
  font-size: 1rem;
  position: relative;
}
.sep h2 span {
  position: relative;
}
.sep h2 span:after {
  position: absolute;
  top: 49%;
  left: -40px;
  bottom: 0;
  content: "";
  width: 30px;
  height: 2px;
  background: #ffc300;
}
.sep h2 span:before {
  position: absolute;
  top: 49%;
  right: -40px;
  bottom: 0;
  content: "";
  width: 30px;
  height: 2px;
  background: #ffc300;
}

.testimonies {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.customer img {
  width: 100%;
  border-radius: 5px;
  border: 2px solid #ffc300;
}
.customer {
  padding: 30px;
}
.customer p {
  padding-top: 15px;
  text-align: justify;
}

#footer {
  text-align: center;
  border-top: 2px solid red;
  background-color: #e7b954;
}

.footer-div {
  display: flex;
  flex-direction: column;
  width: 100vw;
  font-size: 1rem;
  text-align: justify;
}
.footer-div h6 {
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.about,
.contact-info,
.news {
  padding: 25px 15px 70px 15px;
}
.designer {
  background-color: #dfda63;
  margin: 0;
  padding: 5px 0;
}

#error-message {
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 0;
  background-color: #fe8b8e;
  text-align: center;
  font-size: 15px;
  transition: all 0.5s ease;
}
